<router-outlet />
@if(title){
  <h1>{{title}}</h1>
}
<!-- <app-dashboard/> -->

<!-- Directivas -->

<!-- Directiva de Atributos: van entre corchetes, cambian los atribiutos de los elementos -->
<div [ngStyle]="{ color: condition ? 'blue' : 'red' }">Style</div>

<div [ngClass]="condition ? 'green' : 'red'">Class</div>

<!--Directiva de Estructura: si empieza por * es estructural; manejan las estructuras del DOM-->

<div *ngIf="condition">Me rendericé</div>
<!-- <div *ngFor="let item of arreglito">{{ item }}</div>-->

<!-- NO se puede usar dos directivas estructurales en el mismo tag HTML, la solución: ng-container-->

<ul>
  <ng-container *ngFor="let item of arreglito; let i = index; trackBy: trackByFn; let even = even">
    <li *ngIf="even">{{ item.name + i }}</li>
  </ng-container>
</ul>

{{condition}}
<ul>
  <ng-container *ngFor="let item of arreglito; let i = index; trackBy: trackByFn">
    <li *ngIf="i <= arreglito.length - 2">{{ item.name + i }}</li>
  </ng-container>
</ul>

<!-- NgSwitch -->

<ng-container [ngSwitch]="condition">
  <ng-container *ngSwitchCase="true"> Me rencericé con un switch </ng-container>
</ng-container>
<br>

<!-- No renderiza lo que no entra en el switch -->

<ng-container [ngSwitch]="selectedOption">
  <p *ngSwitchCase="'uno'"> Soy el uno </p>
  <h2 *ngSwitchCase="'dos'"> Soy el dos </h2>
  <ng-container *ngSwitchCase="'tres'" [ngTemplateOutlet]="numeroTresTemplate"> </ng-container>
</ng-container>
<br>

<ng-template #numeroTresTemplate>
  <ul>
    <ng-container *ngFor="let item of arreglito; let i = index; trackBy: trackByFn">
      <li *ngIf="i <= arreglito.length - 2">{{ item.name + i }}</li>
    </ng-container>
  </ul>
</ng-template>

<ng-container> Dom (esto es como un fragment en React) </ng-container>

<ng-template #template> Esto es un template </ng-template>

<!-- NgIf por Angular -->
<ng-template [ngIf]="condition">
  <div>Me rendericé</div>
</ng-template>

<!-- NfFor por Angular-->
<!-- <ng-template ngFor let-item [ngForOf]="arreglito" let-i="index" [ngForTrackBy]="i">
  <div>{{ item }}</div>
</ng-template> -->
